<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-item">
    <select formControlName="type">
      <option [value]="1">大</option>
      <option [value]="2">小</option>
    </select>
    <div class="error" *ngIf="form.controls.type.errors">required</div>
  </div>

  <div class="form-item">
    <input type="text" formControlName="size" />
    <div class="error" *ngIf="form.controls.size.errors">size erroe</div>
  </div>

  <div class="form-item">
    <button type="submit">submit</button>
  </div>
</form>
